version: "3"
services:
  gateway:
    container_name: gateway
    build: ./gateway/
    volumes:
      - /root/certs:/root/certs
      - ./data/geoipdb:/var/lib/GeoIP
      - ./data/website/html:/var/www/html/
      - ./data/website/docs:/var/www/docs
      - ./data/website/static:/var/www/static
      - ./data/repository/:/var/www/repository/
      - ./gateway/realip.conf:/etc/nginx/snippets/realip.conf
      - ./gateway/snakeoil.conf:/etc/nginx/snippets/snakeoil.conf
      - ./gateway/ratelimit.conf:/etc/nginx/snippets/ratelimit.conf
      - ./gateway/cache-buffer.conf:/etc/nginx/snippets/cache-buffer.conf
      - ./gateway/cache-aggressive.conf:/etc/nginx/snippets/cache-aggressive.conf
      - ./gateway/sites-available:/etc/nginx/sites-available
      - ./gateway/sites-available/default:/etc/nginx/sites-enabled/default
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
      #- ./gateway/php-fpm.conf:/etc/nginx/snippets/php-fpm.conf
      - ./data/logs/gateway:/var/log/nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      main:
        ipv4_address: 172.18.10.2
  
  mirrordirector:
    container_name: director
    hostname: ${HOSTNAME}
    build: ./mirrordirector/
    volumes:
      - ./mirrordirector/config.yaml:/config.yaml
      - ./data/mirrordirector/cache.db:/cache.db
      - ./data/geoipdb:/var/lib/GeoIP
    restart: unless-stopped
    expose:
      - "8080"
    networks:
      main:
        ipv4_address: 172.18.10.4

  librespeed-frontend:
    image: linuxserver/librespeed
    volumes:
      - ./data/librespeed:/config
      - ./speedtest/index.html:/config/www/index.html
      - ./speedtest/speedtest.js:/usr/share/webapps/librespeed/speedtest.js
    environment:
      MODE: frontend
      TITLE: Parrot Speed Test
      ENABLE_ID_OBFUSCATION: "true"
      REDACT_IP_ADDRESSES: "true"
      EMAIL: speedtest-gdpr@parrotsec.org
      PASSWORD: ${SPEEDTESTPASS}
    restart: unless-stopped
    expose:
      - "80"
    networks:
      main:
        ipv4_address: 172.18.10.10
  
  zerotier:
    container_name: zerotier
    build: ./zerotier/
    volumes:
      - ./zerotier/main.sh:/usr/local/bin/main.sh
      - /dev/net/tun:/dev/net/tun
      - /dev/net/tap:/dev/net/tap
    restart: unless-stopped
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN

  firewall:
    container_name: firewall
    build: ./firewall/
    restart: unless-stopped
    volumes:
      - ./firewall/jail/:/etc/fail2ban/jail.d/
      - ./firewall/filter/:/etc/fail2ban/filter.d/
      - ./data/firewall/:/var/lib/fail2ban/
      - ./data/logs/:/logs/
      - /var/log/:/var/log/
    network_mode: "host"
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW

networks:
  main:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.10.0/28
